NEXT_PUBLIC_MINITIA_RPC_URL=http://localhost:8545
NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=0x797764f4cab7a0798D569A4537736D9e1a3F3787
NEXT_PUBLIC_CHAIN_ID=pinitia-1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pinitia
