NEXT_PUBLIC_MINITIA_RPC_URL=http://localhost:8545
NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=0x231E3F6799cc3dEaD374d29844C237802031bEc0
NEXT_PUBLIC_CHAIN_ID=pinitia-1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pinitia
