NEXT_PUBLIC_MINITIA_RPC_URL=http://localhost:8545
NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=0xE837306C9f53Dd3ABD6542B8Ec8477EA29488211
NEXT_PUBLIC_CHAIN_ID=pinitia-1
NEXT_PUBLIC_SUPABASE_URL=<your_supabase_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your_supabase_anon_key>
