node_modules/
dist/
.env
*.log
.DS_Store

# contracts
contracts/build/
contracts/deps/movevm/*
!contracts/deps/movevm/precompile/
contracts/deps/movevm/precompile/*
!contracts/deps/movevm/precompile/modules/
cache/
out/
.vscode
.idea
