ORACLE_PRIVATE_KEY=<your_oracle_private_key>
MINITIA_RPC_URL=http://localhost:8545
PLACE_ORACLE_ADDRESS=0xA3A1F6ca609Ff930B400B73aCBacC4B771D1cda6
MARKET_FACTORY_ADDRESS=0x231E3F6799cc3dEaD374d29844C237802031bEc0
GOOGLE_PLACES_API_KEY=<your_google_places_api_key>
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pinitia
