ORACLE_PRIVATE_KEY=<your_oracle_private_key>
MINITIA_RPC_URL=http://localhost:8545
PLACE_ORACLE_ADDRESS=0x02b5a81a88A7596852EC72dd398166387d2f1b86
MARKET_FACTORY_ADDRESS=0xBf1907170CB123DEEC0fD4D2854F8F24a18C40A4
GOOGLE_PLACES_API_KEY=<your_google_places_api_key>
SUPABASE_URL=<your_supabase_url>
SUPABASE_SERVICE_ROLE_KEY=<your_supabase_service_role_key>
